::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.header{
  font-size: 80px;
}

section:nth-child(1){
  background-color: #F9E8FD;
}

/* section:nth-child(even) {
  background-color: #E6C7D6;
} */

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

ul {
  list-style-type: none;
}
.link__hover-effect {
  position: relative;
  
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.link__hover-effect--black::after {
  background-color: black;

}

.link__hover-effect--white::after {
  background-color: white;
}

/* 

NAVBAR 

*/

.navbar {
  background-color: inherit;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 4rem;
}

.navbar__container {
  background-color: inherit;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 99;
  position: relative;
}

.logo__img--wrapper {
  height: 100%;
}

.logo__img {
  height: 100%;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  font-size: 20px;
  padding: 8px;
}

.navbar__burger-menu {
  display: none;
}

/* 

LANDING PAGE

*/

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.landing {
  display: flex;
  align-items: center;
  height: calc(100vh - 4rem);
}

.about__container {
  display: flex;
  align-items: center;
}

.landing__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.landing__img--wrapper {
  width: 40%;
  border: 1px solid #99621E;
  animation: fade-up 550ms 400ms backwards;

}

.landing__img {
  width: 100%;
}

.landing__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  text-align: right;
  width: 60%;
}

.landing__desc--heading {
  animation: fade-up 550ms 400ms backwards;
}

.landing__desc--para {
  font-size: 28px;
  margin-bottom: 16px;
  animation: fade-up 650ms 600ms backwards;
}

.landing__desc--btns {
  margin-top: 48px;
  animation: fade-up 800ms 700ms backwards;
}

.landing__desc--btn {
  font-size: 24px;
  padding: 16px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease;
}

.book-now-btn {
  color: white;
  background-color: #191213;
}

.book-now-btn:hover {
  color: black;
  background-color: transparent;
}

.explore-btn {
  color: #191213;
  background-color: transparent;
}

.explore-btn:hover {
  color: white;
  background-color: #191213;
}



/* 

ABOUT US

*/

#about {
  height: auto;
  padding-top: 4rem;
}

.about__desc--heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 8px;
}

.about__desc--tagline,
.about__desc--text {
  text-align: center;
  margin-bottom: 8px;
}

.about__desc--text {
  font-size: 24px;
}

.about__img--wrapper {
  height: 400px;
  width: 400px;
  border: 1px solid #99621E;
  position: relative;
}

.about__desc--imgs {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
}

.about__img {
  height: 100%;
}

.about__img--1 {
  position: absolute;
  top: 8px;
  left: 8px;
  transform: rotate(90deg);
}

.about__img--2 {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

/* 

SERVICES

*/

#services {
  padding-top: 4rem;
}

.services__container {
  display: flex;
}

.services__img--wrapper {
  padding: 8px;
  border-bottom: 1px solid #99621E;
  width: 25%;
}


.services__img {
  width: 100%;
}

.services__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.services__desc--heading {
  font-size: 48px;
}
.services__desc--info {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.services__list {
  margin-right: 32px;
}


.services__list li,
.services__price li {
  font-size: 24px;
}

/* 

CONTACT

*/

#contact {
  padding-top: 3rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__desc {
  text-align: center;
  margin-bottom: 24px;
}


.contact__desc--heading,
.contact__details h1,
.contact__address h1,
.contact__hours h1 {
  margin-bottom: 12px;
}
.contact__details,
.contact__address,
.contact__hours {
  width: calc(100% / 3);
}

.contact__details h1,
.contact__address h1,
.contact__hours h1 {
  font-size: 40px;
}

.contact__desc--heading {
  font-size: 48px;
}

.contact__desc--text,
.contact__details P,
.contact__address P,
.contact__hours P {
  font-size: 24px;
}

.contact__info {
  display: flex;
  justify-content: space-evenly;
}

/* 

MAP

*/

#map {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.google-map {
  width: 100%;
}

/* 

FOOTER

*/


#footer {
  background-color: #343434;
  padding: 24px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.footer__link {
  font-size: 20px;
  color: white;
}

.footer__link:not(:last-child) {
  margin-right: 64px;
}

.copyright {
  color: gray;
}

@media (max-width: 728px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  /* 
  
  NAVBAR
  
  */

  .navbar__container {
    flex-wrap: wrap;
  }

  .logo__img--wrapper {
    margin-left: 12px;
    width: 80%;
  }

  .navbar__list {
    display: none;
  }

  .navbar__burger-menu {
    display: block;
    font-size: 32px;
    margin-right: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .show {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: open 200ms 100ms backwards;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: #F9E8FD;
  }

  .show .navbar__link {
    width: 100%;
    text-align: center;
  }



  

  /* 
  
  LANDING
  
  */

  .header {
    font-size: 60px;
  }

  .landing__desc--btn {
    font-size: 20px;
    width: 160px;
  }

  .landing__img--wrapper {
    border-width: 0;
    display: flex;
    align-items: center;
  }

  .landing__img {
    border: 1px solid #99621E;
  }

  /* 
  
  ABOUT US
  
  */
  
  .about__img--wrapper {
    height: 300px;
    width: 300px;
  }

  .about__desc--imgs {
    margin-top: 36px;
  }

  .about__desc--heading {
    font-size: 28px;
  }

  .about__desc--text {
    font-size: 20px;
  }

  /* 
  
  SERVICES
  
  */

  .services__desc--info {
    flex-wrap: wrap;
    border-bottom: 1px solid #99621E;
  }

  .services__img--wrapper {
    width: 50%;
    border-width: 0;
  }

  /* 
  
  CONTACT US
  
  */

 
  .contact__details p,
  .contact__address p,
  .contact__hours p {
    font-size: 20px;
  }

  .contact__details h1,
  .contact__address h1,
  .contact__hours h1 {
    font-size: 30px;
  }
}

@media (max-width: 458px){
  /* 
  
  LANDING
  
  */

  .landing__info {
    flex-direction: column;
  }

  .landing__img--wrapper {
    height: 60%;
    width: 100%;
  }

  .landing__desc {
    height: 40%;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }

  .landing__desc--para {
    margin-bottom: 0;
    margin-top: 12px;
  }

  .landing__desc--btns {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  }

  /* 
  
  ABOUT US
  
  */

  .about__desc--imgs {
    flex-direction: column;
    align-items: center;
  }

  .about__img--wrapper {
    margin-bottom: 32px;
  }

  /* 
  
  OUR SERVICES
  
  */

  .services__img--wrapper {
    width: 100%;
  }

  /* 
  
  CONTACT US
  
  */

  .contact__info {
    flex-direction: column;
    align-items: center;
  }

  .contact__details,
  .contact__address,
  .contact__hours {
    width: 100%;
    margin-bottom: 16px;
  }

  /* 
  
  FOOTER
  
  */

  .footer__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer__link {
    margin-right: 8px !important;
    margin-left: 8px;
  }

  .footer__link a{
    text-align: center;
  }
}

/* 

ANIMATIONS

*/

@keyframes fade-up {
  0% {
      opacity: 0;
      transform: translateY(40px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes open {
  0% {
      opacity: 0;
      transform: translateY(-40px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}