* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.header{
  font-size: 80px;
}

section:nth-child(1){
  background-color: #FFF4EC;
}

/* section:nth-child(even) {
  background-color: #E6C7D6;
} */

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

ul {
  list-style-type: none;
}

/* 

NAVBAR 

*/

.navbar {
  background-color: inherit;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.navbar__container {
  background-color: inherit;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  z-index: 99;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  font-size: 20px;
  padding: 8px;
}



/* 

LANDING PAGE

*/

#home {
  height: 100vh;
  position: relative;
}

.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing__info {
  display: flex;
  justify-content: space-between;
}

.landing__img--wrapper {
  height: 620px;
  width: 40%;
  border: 1px solid #99621E;
  position: relative
}

.landing__img {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 8px;
  left: -8px;
}

.landing__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  text-align: right;
  width: 60%;
}

.landing__desc--para {
  font-size: 28px;
  margin-bottom: 16px;
}

.landing__desc--btns {
  margin-top: 48px;
}

.landing__desc--btn {
  font-size: 24px;
  padding: 16px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease;
}

.book-now-btn {
  color: white;
  background-color: #191213;
}

.book-now-btn:hover {
  color: black;
  background-color: transparent;
}

.explore-btn {
  color: #191213;
  background-color: transparent;
}

.explore-btn:hover {
  color: white;
  background-color: #191213;
}

/* 

ABOUT US

*/

#about {
  height: auto;
  padding-top: 4rem;
}

.about__desc--heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 8px;
}

.about__desc--tagline,
.about__desc--text {
  text-align: center;
  margin-bottom: 8px;
}

.about__desc--text {
  font-size: 24px;
}

.about__img--wrapper {
  height: 400px;
  width: 400px;
  border: 1px solid #99621E;
  position: relative;
}

.about__desc--imgs {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
}

.about__img {
  height: 100%;
}

.about__img--1 {
  position: absolute;
  top: 8px;
  left: 8px;
}

.about__img--2 {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

/* 

SERVICES

*/

#services {
  padding-top: 4rem;
}

.services__container {
  display: flex;
}

.services__img--wrapper {
  height: 500px;
  padding: 8px;
  border: 1px solid #99621E;
}

.services__img {
  height: 100%;
}

.services__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.services__desc--heading {
  font-size: 48px;
}
.services__desc--info {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.services__list {
  margin-right: 32px;
}


.services__list li,
.services__price li {
  font-size: 24px;
}

/* 

CONTACT

*/

#contact {
  padding-top: 3rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__desc {
  text-align: center;
  margin-bottom: 24px;
}


.contact__desc--heading,
.contact__details h1,
.contact__address h1,
.contact__hours h1 {
  margin-bottom: 12px;
}
.contact__details,
.contact__address,
.contact__hours {
  width: calc(100% / 3);
}

.contact__details h1,
.contact__address h1,
.contact__hours h1 {
  font-size: 40px;
}

.contact__desc--heading {
  font-size: 48px;
}

.contact__desc--text,
.contact__details P,
.contact__address P,
.contact__hours P {
  font-size: 24px;
}

.contact__info {
  display: flex;
  justify-content: space-evenly;
}

/* 

MAP

*/

#map {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.google-map {
  width: 100%;
}

/* 

FOOTER

*/


#footer {
  background-color: #343434;
  padding: 24px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.footer__link {
  font-size: 20px;
  color: white;
}

.footer__link:not(:last-child) {
  margin-right: 64px;
}

.copyright {
  color: gray;
}